@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$darkGray: #1c1e23;
$frenchBlue: #0055A4;

body {
  font-family: 'Varela Round', sans-serif;;
  font-size: calc(10px + 0.5vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 9vw;
  color: $darkGray;
}

h1 {
  font-size: 4.5em;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 26em;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: top 200ms ease-in-out;
    top: 65%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    background-color: rgba($frenchBlue, 0.5);
  }

  &:hover:after {
    top: 0%;
  }
}
